*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #171617;
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
         
        body::-webkit-scrollbar{
          width:0px;
        }  
          .user-name {
          border:2px solid #d6eaf2;
          border-radius: 20px;
          background-color: transparent;
          color:#ffffff;
          font-weight: 600;
          width:5cm;
          height:1.5cm;
          justify-content: center;
          text-align: center;
          position: absolute;
          right: 1cm;
          top:1cm;
          padding-top: 0.5cm;
          transition: linear 0.5s;
      }
      
      .user-name:hover{
          transform: scale(1.03);
          font-weight: 700;
          box-shadow: 0px 2px 5px rgba(225,225,225, 0.1);
          }
  button{
      border: none;
    outline: none;
    font-size: 60px;
    color: #12121c;
    padding: 23px 44px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #cdd6f1;
    font-weight:bolder;
    position: absolute;
    top: 9.5cm;
    left:5cm;
    width:29.5cm;
   box-shadow: 0 0 20px 0 rgba(0,0,0, 0.9);
   font-family: 'Assistant', sans-serif;
   z-index: 2;
  }
  .location-person{
      z-index:2;
      position: absolute;
      top:13.632cm;
      left:0;
  
  
  }
  .location-person img{
      height:6cm;
      width:5cm;
  }
  .next{
      z-index:2;
      position: absolute;
      top:14cm;
      right:1cm
  
  }
  .next img{
      height:6cm;
      width:15cm;
  }

    #myVideo{
      position:absolute;
      top:1.7cm;
      left:6.3cm;
     object-fit: cover; 
      width:27cm;
  z-index:1; 

  }
  .login_back {
        display: none;
        position: absolute;
        top:13.4cm;
        left:4cm;
        padding: 10px;
        color:white;
        background-color: #252525;
        border: 1px solid #252525;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 3;
      }
  .login_back::before{
      content: "";
      position: absolute;
      top: 0.5cm;
      left:-0.5cm;
      transform: translateY(-50%);
      border-width: 10px;
      border-style: solid;
      border-color: transparent #252525 transparent transparent;
  }
  .next_button {
        display: none;
        position: absolute;
       top:12cm;
        right:1cm;
        padding: 10px;
        color:white;
        background-color: #252525;
        border: 1px solid #252525;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 3;
      }
  .next_button::before{
      content: "";
      position: absolute;
      top: 1.03cm;
      right:3cm;
      transform: translateX(-50%);
      border-width: 10px;
      border-style: solid;
      border-color: #252525 transparent transparent transparent;
   
  }
  
  .location-person img{
      animation: back 2s infinite alternate; 
  }
  
  @keyframes back{
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .next img{
      animation: next 2s infinite alternate;
  }
  @keyframes next {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .logo{
      position: absolute;
      top:0.5cm;
      left:1cm;
  }
  .logo img{
      height:3cm;
      width:4cm;
  }
  