*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body{
    display: flex;
    height:100vh;
    flex-direction: column;
    
    top:0;
    left:0;
}

body::-webkit-scrollbar{
  width:0px;
}
.background{
    position: absolute;
    top:0;
    left:0;
    height:100%;
width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.background img{
    height:100%;
width:100%;
}
  .overlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
  .login-form{
    height:19.5cm;
    width:12.7cm;
    background-color: white;
    position: absolute;
    top:59.23cm;
    right:5.5cm;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 5;
  }
  
  .form-logo img{
    position: absolute;
    top:1cm;
    right:3.5cm;
    height: 3cm;
    width:5.5cm; 
  }
  
  .login-form h3{
    position: absolute;
    top:4cm;
    right:1.7cm;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 0.8cm;
    text-align: center;
    font-weight: bold;
    color: #333333;
    width:9cm;
    pointer-events: none;
  }
  
  .input{
    display: flex;
    flex-direction: column;
    position: absolute;
   
  
  }
  form .input{
    position: absolute;
    top:6cm;
    left:2cm;
  }
  
  #firstname{
   
    margin-bottom: 0.5cm;
    margin-top: 0.2cm;
    border: 2px solid #a5a5a5;
    height: 1.2cm;
    width:8cm;
    border-radius: 15px;
    align-items: center;
  
  }
  .input input {
    color: rgb(0, 0, 0);
    width:7cm;
    justify-content: center;
    padding: 0 0.5cm 0 0.5cm;
    font-size: 0.4cm;
  }
  
  .input label{
  
    font-size: 0.4cm;
    margin-top: -0.2cm;
  }
  
  .error{
    color:red;
    display:none;
    border: 1px solid red;
  
  }
  .error.show{
    display: block;
  }
  
  #lastname{
    
   
      margin-bottom: 0.5cm;
      margin-top: 0.1cm;
      border: 2px solid #a5a5a5;
      height: 1.2cm;
      width:8cm;
      border-radius: 15px;
    }
  
    #email{
    
   
      margin-bottom: 0.5cm;
      margin-top: 0.1cm;
      border: 2px solid #a5a5a5;
      height: 1.2cm;
      width:8cm;
      border-radius: 15px;
    }
  
    #password{
      margin-bottom: 0.5cm;
      margin-top: 0.1cm;
      border: 2px solid #a5a5a5;
      height: 1.2cm;
      width:8cm;
      border-radius: 15px; 
    }
    .emailText,
    .passText{
      display: block;
      font-weight: 300;
      padding:0 0 0.1cm 0;
      position: relative;
      top:-0.3cm;
    }
    label.valid .emailText,
    label.valid .passText{
      position: relative;
      top:-0.3cm;
      color: #48b955;
    }
    label.invalid .emailText,
    label.invalid .passText{
      color:#dc4048 ;
    }
    label.valid::before,
    label.invalid::before{
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: 5.5cm;
      right: 5px;
      z-index: 100;
    }
    label{
      display: flex;
      flex-direction: column;
    }
  
  label.invalid .passText{
      
        border:2px solid transparent;
        width:7.5cm;
        text-align: justify;
        text-align-last: center;  
    }
  
    label.valid .passText{
      border:2px solid transparent;
        width:7.5cm;
        text-align:left;
  
    }
    .submit{
    
      text-align: center;
    }
    .btn-submit{
      width:6cm;
      font-size: 0.5cm; 
      background-color:#fb0e28;
      border-radius: 20px;
      height: 1cm;
      color: white;
      font-weight: 600;
      position: relative;
      top:-0.1cm;
      border: none;
    }