@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
height: 100vh;
display: flex;
flex-direction: column;
background: #171617;

background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

body::-webkit-scrollbar{
width:0px;
}
 
.logo{
position: absolute;
top:1cm;
left:1cm;
}
.logo img{
height:3cm;
width:5cm;
}


#searchBox {
padding: 8px;
border:none;
border-radius: 15px;
width:20cm;
height: 1.8cm;
position: absolute;
justify-content: center;
top:7cm;
left:10cm;
font-size: 22px;
font-family: 'Rubik', sans-serif;
color: black;
z-index: 6;
}
#searchBox [type="text"]{
width:3cm;
}

#searchButton{
height:1.5cm;
width:3cm;
border: none;
border-radius: 20px;
position: absolute;
right:5.5cm;
top:7.15cm;
font-size: 18px;
color: black;
font-weight: bold;
transition: ease 0.5s;
z-index: 7;
}

#searchButton:hover{
transform: scale(1.04);

}
#autocompleteList {
list-style-type: none;
padding: 0;
margin: 0;
max-height: 200px;
overflow-y: auto;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
width:18cm;
position: absolute;
justify-content: center;
top:8.7cm;
left:11cm;
z-index: 5;
}

#autocompleteList li {
padding: 8px;
cursor: pointer;
}
#autocompleteList::-webkit-scrollbar{
width:0px;
}
#autocompleteList li:hover {
background-color: #f5f5f5;
}



.speech-icon img{
height:1cm;
position: absolute;
top:7.45cm;
left:28cm;
z-index: 7;
border:1px solid white;
background-color: rgb(255, 255, 255);
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
transition: ease 0.5s;
}

.speech-icon img:hover{
transform: scale(1.05);

}
.button-feedback{
position: absolute;
top:16cm;
left:18.5cm;
height:1cm;
width:3cm;
font-size: 0.5cm;
border-radius : 5px;
color:white;
background: rgb(3,170,225);
background: linear-gradient(156deg, rgba(3,170,225,1) 20%, rgba(49,226,206,1) 92%);
border:none;
cursor: pointer;
display: none;
}

.button-feedback a{
color:white;
text-decoration: none;
}
#complaint {
    display: flex;
    border-radius: 100%;
    z-index: 999;
    position: absolute;
    bottom: 0.7cm;
    right: 1cm;
    width: 0.75cm;
    height: 0.7cm;
    font-size: 10px;
    cursor: pointer;
    background: #171717;
    border: 1px solid  gray;
    color: white;
    align-items: center;
    justify-content: center;
  }

  .complaint-box {
    height: 2.1cm;
    width: 5cm;
    z-index: 2;
    display: none;
    background-color: black;
    border-radius: 5%;
    position: absolute;
    bottom: 2cm;
    right: 1cm;
  }

  .complaint-box-item {
    display: flex;
    flex-direction: column;
    width: 4.25cm;
    height: 0.8cm;
    background-color: black;
    border: none;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding-top: 0.2cm;
    transition: 0.5s ease-out;
    color:white;
    margin-left:0.35cm;
    border-radius: 0.15cm;
  }

  .complaint-box-item:nth-child(1) {
    margin-top: 0.25cm;
  }

  .complaint-box-item:hover {
    background-color: #262626;
  }

  .complaint-box-item:nth-child(2) {
    display: flex;
    flex-direction: row;
  }

  .feedback-png {
    height: 0.5cm;
    width: 0.5cm;
    margin: 0.5cm;
  }
 #speechButton {
    position: absolute;
    top: 7.2cm;
    background-color: #171717;
    right: 10cm;
    z-index: 7;
    height:1.5cm;
    width:1.5cm;
    background-color: transparent;
    border-color: transparent;
    z-index: 8;
    cursor: pointer;
}


#myVideo{
    position:absolute;
    top:1.2cm;
    left:10cm;
   object-fit: cover; 
    width:20cm;
z-index:1 ; 
}