*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body{
    display: flex;
    height:100%;
    flex-direction: column;
    
    top:0;
    left:0;
}

body::-webkit-scrollbar{
  width:0px;
}
.background{
    position: absolute;
    top:0;
    left:0;
    height:100%;
width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.background img{
    height:100%;
width:100%;
}
  .overlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
.login-form{
    height:15cm;
    width:12.7cm;
    background-color: white;
    position: absolute;
    top:2cm;
   left:34%;
    border-radius: 30px;
    z-index: 5;
  }
  
  .form-logo img{
    position: absolute;
    top:0.5cm;
    left:35%;
    height: 3cm;
    width:5cm; 
  }
  
  .login-form h3{
    position: absolute;
    top:4cm;
    right:1.7cm;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 0.8cm;
    text-align: center;
    font-weight: bold;
    color: #333333;
    width:9cm;
    pointer-events: none;
  }
  
  .input{
    display: flex;
    flex-direction: column;
    position: absolute;
   
  
  }
  form .input{
    position: absolute;
    top:6cm;
    left:2.5cm;
  }
  
  .input input {
    color: black;
    width:7cm;
    justify-content: center;
    padding: 0 0.5cm 0 0.5cm;
    font-size: 0.4cm;
  }
  
  .input label{
  
    font-size: 0.4cm;
    margin-top: -0.2cm;
  }
  
    #email{
    
   
      margin-bottom: 0.5cm;
      margin-top: 0.1cm;
      border: 2px solid #a5a5a5;
      height: 1.2cm;
      width:8cm;
      border-radius: 15px;
    }
  
    #password{
      margin-bottom: 0.5cm;
      margin-top: 0.1cm;
      border: 2px solid #a5a5a5;
      height: 1.2cm;
      width:8cm;
      border-radius: 15px; 
    }
    .emailText,
    .passText{
      display: block;
      font-weight: 300;
      padding:0 0 0.1cm 0;
      position: relative;
      top:-0.3cm;
    }
    label{
      display: flex;
      flex-direction: column;
    }
    .submit{
    
      text-align: center;
    }
    .btn-submit{
      width:6cm;
      font-size: 0.5cm; 
      background-color:#fb0e28;
      border-radius: 20px;
      height: 1cm;
      color: white;
      font-weight: 600;
      position: relative;
      top:0.2cm;
      border: none;
    }
  
    .register p{
      position: relative;
      text-align: center;
      top:1.5cm;
      font-size: 0.325cm;
      font-family: 'Wix Madefor Display', sans-serif;
      color:#5e5e5e;
  
    }
  
    .register a{
      font-size: 0.325cm;
      font-family:'Wix Madefor Display', sans-serif;
      color:black;
      font-weight: 600;
      text-decoration: none;
      
    }
    .register a:hover{
    
      text-decoration:underline;
    
    }
    .allowance{
      width:6.5cm;
      text-align: justify;
      text-align-last: center;
      position: relative;
      align-items: center;
      left:0.8cm;
      top:1cm;
    }
    .allowance h6{
      
      font-size: 0.325cm;
        font-family: 'Wix Madefor Display', sans-serif;
        color:#5e5e5e;
      font-weight: lighter;
    
    }
    .allowance a{
      font-size: 0.325cm;
      font-family:'Wix Madefor Display', sans-serif;
      color:black;
      font-weight: 600;
      text-decoration: none;
    
    }
    .allowance a:hover{
      
      text-decoration:underline;
    
    }
    
.information{
    display: flex;
    flex-direction: row;
    gap:1cm;
    z-index: 5;
    position: absolute;
   top:18.9cm;
   border: 1px solid black;
   justify-content: center;
   align-items: center;
   background-color: black;

   font-size: 0.1cm;
   height:1cm;
   width: 100%;
  }

  .information h5 a{
    font-size: 0.325cm;
    font-weight: lighter;
    color:white;
    text-align: center;
  }
  .information h5 a:hover{
    text-decoration: underline;
   color:#1ed760; 
  }
#forgotpassword a{
  margin-top: 0.1cm;
  margin-bottom: 0.5cm;
  color:#a5a5a5;
  cursor: pointer;
  font-size: 0.375cm;
  font-weight: 200;
  text-decoration: none;
  transition: 0.35s ease-in-out;
}

#forgotpassword a:hover{
  color:black;
}