/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
     
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
#logo {
    height: 110px;
    width: 250px ;
    position: absolute;
    top:1cm;
    left: 0.5cm;
    z-index: 1; 
}

.Elixr-word h1{

  z-index: 2;
  position: absolute;
  top:-1.5cm;
  font-size: 190px;
 justify-content: center;
 left:15cm;
  color: #cccccc;

  transition: 0.5s ease;
}

.Elixr-word h1:hover{
  transform: scale(1.02);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.medical-rules{
    display:flex;
    gap:35px; 
    z-index: 2;
    position: absolute;
   left: 14cm;
    top:7cm;
    color: #cccccc;
   
}

.divider{
    position: relative;
    top:0.5cm;
    font-size: 120%;
    font-weight: bolder;
}
.rule1{
    z-index: 2;
    transition: 0.5s ease; 
    font-family: 'Poltawski Nowy', serif;
     border:transparent;
      border-radius: 5%;
      width:3cm;
      text-align: center;
      justify-content: center;
      cursor:pointer;


}
.rule1:hover{
    border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  backdrop-filter: blur(4px);
  background-color:rgba(255,255,255,0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0,0.9);
   border: #cccccc;
    transform: scale(1.08);
    width:3cm;
    text-align: center;
    justify-content: center;
   
}
.rule1 h3{

    text-align:center;
    transition: 0.5s ease; 
    font-size: 20px;
    transition: 0.5s ease; 
}


.rule2{
    z-index: 2;
    transition: 0.5s ease; 
    font-family: 'Poltawski Nowy', serif;
     border:transparent;
      border-radius: 5%;
      width:3cm;
      text-align: center;
      justify-content: center;
      cursor:pointer;


}
.rule2:hover{
    border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  backdrop-filter: blur(4px);
  background-color:rgba(255,255,255,0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0,0.9);
   border: #cccccc;
    transform: scale(1.08);
    width:3cm;

    text-align: center;
    justify-content: center;
}
.rule2 h3{
    flex:3;
    text-align:center;
    transition: 0.5s ease; 
    font-size: 20px;
    transition: 0.5s ease; 
}

.rule3{
    z-index: 2;
    transition: 0.5s ease; 
    font-family: 'Poltawski Nowy', serif;
     border:transparent;
      border-radius: 5%;
      width:3cm;
      text-align: center;
      justify-content: center;
      cursor:pointer;

}
.rule3:hover{
    border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  backdrop-filter: blur(4px);
  background-color:rgba(255,255,255,0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0,0.9);
   border: #cccccc;
    transform: scale(1.08);
    width:3cm;

    text-align: center;
    justify-content: center;
}
.rule3 h3{
    flex:3;
    text-align:center;
    transition: 0.5s ease; 
    font-size: 20px;
    transition: 0.5s ease; 
}



.lets-go a p{

  z-index: 2;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  color: #252525;
  width: 170px;
  height: 45px;
  background: transparent;
  border: 2px solid #252525;
  border-radius: 6px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 30px rgba(0, 0, 0,0.9);
  text-align: center;
  padding-top: 0.4cm;
  transition: linear 0.3s;
  justify-content: center;
  text-align: center;
  top:15cm;
  left: 18cm;



}

.lets-go a p:hover{
  transform: scale(1.1)

}

.precision {
  display:none;
  position: absolute;
 top:9.1cm;
  left:8cm;
  padding: 10px;
  color:#151520;
  background-color: #cccccc;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 3;

}
.precision::before{
content: "";
position: absolute;
top: -0.5cm;
right:0.3cm;
transform: translateX(-50%);
border-width: 10px;
border-style: solid;
border-color:  transparent transparent #cccccc transparent;
}
.ethics {
  display:none;
  position: absolute;
 top:9.1cm;
  left:15cm;
  padding: 10px;
  color:#151520;
  background-color: #cccccc;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 3;

}
.ethics::before{
content: "";
position: absolute;
top: -0.5cm;
right:4.8cm;
transform: translateX(-50%);
border-width: 10px;
border-style: solid;
border-color:  transparent transparent #cccccc transparent;
}

.safety {
  display:none;
  position: absolute;
 top:9.1cm;
  left:24.35cm;
  padding: 10px;
  color:#151520;
  background-color: #cccccc;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 3;

}
.safety::before{
content: "";
position: absolute;
top: -0.5cm;
left:1cm;
transform: translateX(-50%);
border-width: 10px;
border-style: solid;
border-color:  transparent transparent #cccccc transparent;
}
#emergency_button{
  height:1cm;
  padding: 0.5cm;
  width:5.6cm;
  position: absolute;
  top:1.2cm;
  right:1.5cm;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.4cm;
  font-family: 'Poppins', sans-serif;
  border-radius: 0.5cm;
  border: none;
  transition: 0.5s linear ;
}

#emergency_button img{
  height:0.5cm;
  width:0.5cm;
  margin-right: 0.25cm;
}
#emergency_button:hover{

  transform: scale(0.95);
  cursor: pointer;
}
.emergency_number{
  position:absolute;
  top:2.5cm;
  right:1.5cm;
 height:5cm;
 width:10cm;
 overflow-y: auto; 
 font-family: 'Poppins', sans-serif;
 border-radius: 0.25cm;
 background-color: whitesmoke;
 display: none;
 z-index: 2; 
}

.emergency_number::-webkit-scrollbar{
 width: 0px;
}
.emergency_number li{
  position: relative;
  padding:0.45cm;
  border-bottom: 1px solid rgba(128, 128, 128, 0.463);
  list-style: none;
  top:0cm;
  left:0cm;
 
}