<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mapbox GL JS - Drop Marker</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet" />
  <style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
    .map-overlay { position: absolute; top: 10px; left: 10px; z-index: 1; }
  </style>
</head>
<body>

    <div id="map"></div>
    <div class="map-overlay">
      <p id="coordinates">Click on the map to drop a marker and get the coordinates.</p>
    </div>

<script>
mapboxgl.accessToken = "pk.eyJ1IjoiYXRoYXJ2LTE4OTMiLCJhIjoiY2xpZzNsNTZsMGJsNzNkbndobGh4NzNvaiJ9.zMgPbWtyz2qPVs6G4yMpRQ";

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [-74.5, 40], // starting position [lng, lat]
  zoom: 9 // starting zoom
});

var marker;

map.on('click', function(e) {
  if (!marker) {
    marker = new mapboxgl.Marker()
      .setLngLat(e.lngLat)
      .addTo(map);
  } else {
    marker.setLngLat(e.lngLat);
  }

  var coordinates = document.getElementById('coordinates');
  coordinates.innerHTML = 'Longitude: ' + e.lngLat.lng + '<br />Latitude: ' + e.lngLat.lat;
});

</script>

</body>
</html>
