<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport"content="width=device-width,initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;1,200&family=Jost:ital,wght@0,100;1,100&family=Varela&family=Yeseva+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500&family=Tiro+Tamil:ital@0;1&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}"sizes="16x16 32x32">
<title>ResQ</title>
       

    </head>
    <body >
         <img id="logo" src = "{{ url_for('static',filename='image/elixr_white_logo.png') }}"> 
        <video autoplay muted id="myVideo">
            <source src="{{ url_for('static', filename='video/start.mp4') }}" type="video/mp4">
          </video>
          
        <div class = "Elixr-word">

                <h1>ResQ</h1>

        </div>

        <div class="medical-rules">
        
        <div id = "rule1" class = "rule1" onmouseover="precision()" > <h3>Precision</h3></div> 
       <div class = "divider"> | </div>
       <div id = "rule2" class = "rule2" onmouseover="ethics()"> <h3>Ethics</h3></div>
       <div class = "divider"> | </div>
       <div id = "rule3" class = "rule3" onmouseover="safety()"> <h3>Safety</h3></div>
    </div>
    <div id = "precision" class="precision"></div>
    <div id = "ethics" class="ethics"></div>
    <div id = "safety" class="safety"></div>

                <div class = "lets-go">
            <a href = "information">
            <p>Let's Explore</p>
            </a>
        </div>

        <button id="emergency_button">
            <img src= "{{url_for('static', filename= 'image/emergency-call.png')}}">
            <span>Emergency Numbers</span></button>
        <div class="emergency_number" id="emergency">

             <li>National Emergency Number - 112</li>
             <li>Police - 100</li>
             <li>Fire - 101</li> 
             <li>Ambulance - 102</li>
             <li>Disaster Management Services - 108</li>
             <li>Women Helpline - 1091</li>
             <li>Senior Citizen Helpline - 1091/ 1291</li>
             <li>Road Accident Emergency Service - 1073</li>
             <li>Railway Accident Emergency Service - 1072</li>
             <li>LPG Leak Helpline - 1906</li>
             <li>Cyber Police - 1930</li>

          </div> 
            <div class="feedback" id = "feedback">
                <img src = "{{url_for('static', filename = 'image/customer-review.png')}}" alt = "feedback">
            </div>
            <div class="feedback-container" id = "feedback_container">
                <img id="f-c_logo" src = "{{ url_for('static',filename='image/elixr_white_logo.png') }}" alt="logo"> 
                <div class="user-name">
                    {% if latest_firstname %}
                     <p>Hello!</p>
                    <h4>How can we help?</h4>
                {% else %}
                    <p>No firstname found</p>
                {% endif %} 
                </div>
               <div class="feedback-inner-container">

                   <form action="/" method="post" enctype="multipart/form-data">
                       <div class="form-group email">
                           <label for="email">Email:</label>
                           <input type="email" id="email" name="email" required>
                        </div>
                    <div class="form-group title">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="form-group description">
                        <label for="description"> Description:</label>
                        <textarea id="description" name="description" rows="4" required></textarea>
                    </div>
                   
                    <div class="submit">
                        <button id = "f-button">Create an Issue</button>
                    </div>
                </form>
            </div> 
            </div>
          <script src="{{ url_for('static', filename='script/script.js') }}"></script>  
    </body>
   
    </html>

