<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport"content="width=device-width,initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" href="{{ url_for('static', filename='helix_black_logo.png') }}" type="image/png">

<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;1,200&family=Jost:ital,wght@0,100;1,100&family=Varela&family=Yeseva+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<title>Elixr</title>
       

    </head>
    <body >
          
        <video autoplay muted id="myVideo">
            <source src="{{ url_for('static', filename='start.mp4') }}" type="video/mp4">
          </video>
          
        <div class = "Elixr-word">

                <h1>Elixr</h1>

        </div>

        <div class="medical-rules">
        
        <div id = "rule1" class = "rule1" onmouseover="precision()" > <h3>Precision</h3></div> 
       <div class = "divider"> | </div>
       <div id = "rule2" class = "rule2" onmouseover="ethics()"> <h3>Ethics</h3></div>
       <div class = "divider"> | </div>
       <div id = "rule3" class = "rule3" onmouseover="safety()"> <h3>Safety</h3></div>
    </div>
    <div id = "precision" class="precision"></div>
    <div id = "ethics" class="ethics"></div>
    <div id = "safety" class="safety"></div>

                <div class = "lets-go">
            <a href = "information">
            <p>Let's Explore</p>
            </a>
        </div>

        <button id="emergency_button">
            <img src= "{{url_for('static', filename= 'emergency-call.png')}}">
            <span>Emergency Numbers</span></button>
        <div class="emergency_number" id="emergency">

             <li>National Emergency Number - 112</li>
             <li>Police - 100</li>
             <li>Fire - 101</li> 
             <li>Ambulance - 102</li>
             <li>Disaster Management Services - 108</li>
             <li>Women Helpline - 1091</li>
             <li>Senior Citizen Helpline - 1091/ 1291</li>
             <li>Road Accident Emergency Service - 1073</li>
             <li>Railway Accident Emergency Service - 1072</li>
             <li>LPG Leak Helpline - 1906</li>
             <li>Cyber Police - 1930</li>

          </div> 
          <script src="{{ url_for('static', filename='script.js') }}"></script>  
    </body>
   
    </html>

