<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport"content="width=device-width,initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/info_style.css') }}">
        <script src="{{ url_for('static', filename='script/info_script.js') }}"></script> 
<title>ResQ</title>


    </head>
    <body >
        <div class="section1">

            <div class="logo">
                <a href = "index">
                    <img src="{{url_for('static', filename='image/elixr_black_logo.png') }}">
                </a>
            </div>
            <div class="login">
                <a href = "login">Login</a>
            </div>
            <div class="fix-text">
                Get To Your Nearest
            </div>
            
            
            <video autoplay muted loop id="myVideo">
                <source src="{{url_for('static', filename='video/Info_Video.mp4') }}" onload="rotateWords()" type="video/mp4">
            </video>
            
            <div id="rotating-text"></div>
            
            <div class="circle" onclick = "ScrollButton()">
                <div class="box1"></div>
                <div class="box2"></div>
                <div class="box3"></div>
            </div> 
        </div> 
   <div class="section2">

    <h1>Get your Location</h1>
    <h3>Search for your Location through inbuilt location finder.</h3>


    <div class="maps">
        <img src = "{{url_for('static', filename='image/map1.png') }}"  id = "map1" >
        <img src = "{{url_for('static', filename='image/map2.png') }}" id = "map2">
        <img src = "{{url_for('static', filename='image/map3.png') }}" id = "map3">

    <div class="search-bar">
        <h3><i class = "fas fa-search"></i></h3>
        <div id="typing-effect">
              </div>
    </div>

    </div>

   </div>
   
   
   <div class="section3">

   <p>Get all your nearby health workers</p>
   <h3>After finding your location, check for all your nearby medical stores, dentists, NGO's, garages, civil servants. </h3>
   
        <div class="workers-pic">
            <img src = "{{url_for('static', filename='image/Fortis.jpg') }}" id = "worker1">
            <video autoplay muted loop id="worker2" >
                <source src="{{url_for('static', filename='video/info_mechanic.mp4') }}" onload="rotateWords()" type="video/mp4">
            </video>
        </div>

</div>
       <div class = "section4">
        <h2>Sign up to get Started</h2>

       <div class="login-form">
            <div class="form-logo">
                <img src = "{{url_for('static', filename='image/elixr_red_logo.png') }}">
             </div>
            <h3>Welcome to ResQ</h3>

            <form action="/information" method="POST">
                <div class="input">

                    <Label for = "firstname" id = "fn">First Name</Label>
                    <input id = "firstname" name = "firstname" placeholder="First Name" type = "text" pattern = "[A-Za-z]+" title = "Please Enter only alphabetic characters" required >
                    
                    <Label for = "lastname" id = "ln">Last Name</Label>
                    <input id = "lastname" name = "lastname" placeholder="Last Name" type = "text" pattern = "[A-Za-z]+" title = "Please Enter only alphabetic characters" required >
                    
                    <label class="emailBox" id = "ln">Email
                        <input type="email" class = "email"  name = "email"  id="email" placeholder="Email" required >
                        <span class="emailText"></span>
                    </label> 
            
                    <label class="passBox" id = "ln">Password
                        <input type="password" id="password" name = "password"  placeholder="Create a password" required autocomplete="additional-name">
                        <span class="passText"></span>
                    </label> 
                        <div class="submit">

                            <button type="submit" id = "submit" name = "submit"  class = "btn-submit">Continue</button>
                        </div>
                        <div class="allowance">
                            <h6>By continuing, you agree to ResQ's <a href ="https://drive.google.com/file/d/1I3xlUHs9eXzfgnITYIUQ0nMTeZECc-Pf/view?usp=sharing">Terms of Service</a> and acknowledge you have read our <a href = "https://drive.google.com/file/d/143jDTjGbriBpBQGa8hvCxkxmGnlINmBB/view?usp=sharing">Privacy Policy </a>.</h6> 
                        </div>

                        <p>Already a Member ? <a href = "login">Log in</a></p>
                
                      
                    </div>
        </form>
       </div>

       <div class="information">
        <h5><a href = "https://drive.google.com/file/d/1I3xlUHs9eXzfgnITYIUQ0nMTeZECc-Pf/view?usp=sharing" >Terms and Conditions</a></h5>
        <h5><a href = "https://drive.google.com/file/d/143jDTjGbriBpBQGa8hvCxkxmGnlINmBB/view?usp=sharing">Privacy Policy </a></h5>
        <h5><a href = "login">Member Login</a></h5>
       </div>
        
       </div>
       
 
            </body> 
            
    </html>

