<!DOCTYPE html>
<html>
<head>
    <title>Helix: Doctor</title>
    <!-- Include Mapbox GL JS -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <!-- Include jQuery for easier DOM manipulation -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map_style.css') }}">
<script src="{{ url_for('static', filename='map_script.js') }}"></script> 
</head>
<body>
<div id="map"></div>
<div>
  <input type="text" id="profession" placeholder="Enter any Emergency Services" >
  <img id="place_input" src= "{{url_for('static', filename= 'place.png')}}">
  <ul id="suggestion_list"></ul>
  <ul id = "hospital_list"></ul>
  <button id ="loc-button"onclick="searchLocations()">Search</button>
</div>
<div id="buttons">
  <button id="hospital_button" onclick="categoryLocations('Hospital')">
    <img src= "{{url_for('static', filename= 'pharmacy.png')}}">

   <span>Hospital</span> 
  </button>

  <button id="pump_button"onclick="categoryLocations('Petrol Pump')">
    <img src= "{{url_for('static', filename= 'petrol-pump.png')}}">
    <span>Petrol Pump</span></button>
    
    <button id="police_button"onclick="categoryLocations('Police')">
      <img src= "{{url_for('static', filename= 'police-hat.png')}}">
      <span>Police Station</span></button>
</div>
<button id="centerButton">
  <img src = "{{ url_for('static', filename='target.png') }}">
</button>
</body>
</html>
