<!DOCTYPE html>
<html>
  <head>
    <title>Helix: Doctor</title>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script src="https://api.opencagedata.com/geocode/v1/json?key=fb87072a45394821904e16450b724c48"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
   
  </head>
  <body>
    <div id="map"></div>
    <div id="hospital" class="hospital"></div>
    <!-- <div class="profession-bar">
      
      <a href = "doctor.html"> 
          <h3>Doctor</h3>
      </a>
  
  <a href = "dentist.html">
  
      <h3>Dentist</h3>
    
    </a>
  
   <a href = "medical.html">
     <h3>Pharmacies</h3>
    </a> 
   
    <a href  = "physiotherapist.html">
      <h3>Physiotherapist</h3>
    </a>
  
    <a href = "cardiologist.html">
      <h3>Cardiologist</h3>
    </a>
    
    <a href = "dermatologist.html">
      <h3>Dermatologist</h3>
    </a>
  
    <a href = "psychiatrist.html">
      <h3>Psychiatrist</h3>
    </a>
  
    <a href = "pediatrician.html">
      <h3>Pediatrician</h3>
    </a>
  
    <a href = "gynecologist.html">
      <h3>Gynecologist</h3>
    </a>
  
    <a href = "orthopedic.html">
      <h3>Orthopedic</h3>
    </a>
  
    <a href = "opthalmologist.html">
      <h3>Opthalmologist</h3>
    </a>
  
    <a href = "veterinary.html">
      <h3>Veterinary</h3>
    </a>
    </div> -->
    Location System
    <script>
      const apiKey = "K2uhMneJS78v6v29URO_WNW6ktUisDimbYmyKDNxg6Q";

      const platform = new H.service.Platform({
        apikey: apiKey
      });

      // Initialize the map
      const map = L.map('map').setView(['19.267924', '72.967252'], 12);

      // Add the OpenStreetMap tiles to the map
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
      }).addTo(map);
//////////////////for Thane change all long , and lat
      function findNearbyhospital(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        // Create a service object to perform the search
        const service = platform.getSearchService();

        // Define the search parameters
        //for thane: '19.267924', '72.967252'
        //to track the location, just exchange the coordinates with latitude and longitude
        const params = {
          q: "garage",
          at: `${'19.267924'},${'72.967252'}`,
          radius: 1000
        };
        // Execute the search request
        service.discover(params, (result) => {
          console.log(result)
          const hospitals = result.items;
          const hospitalDiv = document.getElementById("hospital");
        //  hospitalDiv.innerHTML = "<h2>Nearby hospitals</h2>";

          hospitals.forEach((hospital) => {
            const { title, position: { lat, lng }, distance, address } = hospital;
            const hosplatitude = lat;
                       const hosplongitude = lng;
              var kmdist = distance/1000;
       //     hospitalDiv.innerHTML += `<br><p><b>Name:</b> ${title}</p>
        //    <strong>Address:</strong> ${address.label}
        //    <p>Latitude: ${hosplatitude}, Longitude: ${hosplongitude}</p>
        //        <strong>Distance:</strong> ${kmdist} kms 
          //                     <br>
           // `;
            
            const hospmarker = L.marker([ hosplatitude, hosplongitude]).addTo(map);
            hospmarker.bindPopup(`<b>${title}</b><br><p><b>Location:</b> ${address.label}<br><b>Distance:</b> ${kmdist} kms</p><a href="https://www.google.com/maps/dir/?api=1&origin=${'19.267924'},${'72.967252'}&destination=${hosplatitude},${hosplongitude}" target="_blank"><button class = 'direction'>Show Direction</button></a>`).openPopup();
          });
        }, console.error);

        // Create a request URL to fetch the location details using HERE Geocoding API
        const geocodingUrl = `https://revgeocode.search.hereapi.com/v1/revgeocode?apikey=${apiKey}&at=${'19.267924'},${'72.967252'}`;

        // Fetch the location details
        fetch(geocodingUrl)
          .then((response) => response.json())
          .then((data) => {
            const locationName = data.items[0].address.label;

            // Create a marker for the current location
           // Create a marker for the current location
const markerIcon = L.icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12,41],
  shadowSize: [41, 41]
});
const marker = L.marker(['19.267924', '72.967252'], { icon: markerIcon }).addTo(map);
            marker.bindPopup(`<b>Your Location:</b> A P Shah Institute of Technology<p> ${locationName}</p>`).openPopup();

          
            // Zoom the map to the current location
            map.setView([ '19.267924', '72.967252'], 14);
          })
          .catch((error) => {
            console.error("Error: ", error);
          });
      }

      // Get the current location
      navigator.geolocation.getCurrentPosition(findNearbyhospital, console.error);
      let overlayVisible = true;
const bubbleDiv = document.getElementById('bubble-bottom');
const bubbleText = document.querySelector('#bubble-bottom h2');

window.addEventListener('DOMContentLoaded', function() {
  document.getElementById('overlay').classList.remove('hidden');
});

document.getElementById('bubble-bottom').addEventListener('click', function() {
  const overlay = document.getElementById('overlay');
  overlay.classList.toggle('hidden');
  
  overlayVisible = !overlayVisible;
  
  if (overlayVisible) {
    bubbleText.textContent = 'Click to see the Map';
    bubbleDiv.style.width = '15cm';
    bubbleDiv.style.left = '32%';
  
  } else {
    bubbleText.textContent = 'Doctors';
    bubbleDiv.style.width = '7.5cm';
    bubbleDiv.style.left = '42%';
  

  }
});

document.getElementById('overlay').addEventListener('click', function() {
  if (overlayVisible) {
    const overlay = document.getElementById('overlay');
    overlay.classList.add('hidden');
    overlayVisible = false;
    
  }
});
    </script>
  </body>
</html>