<!DOCTYPE html>
<html>
<head>
    <title>Helix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_style.css') }}">
    <script src="{{ url_for('static', filename='search_script.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20,400,0,-25" />
</head>

</head>


<body id = "body">
   <div class="logo">
    <a href = "/search">

        <img src ="{{ url_for ( 'static', filename='elixr_white_logo.png') }}">
    </a> 
    </div>
    


    <video autoplay muted loop nocontrol id="myVideo"> 
        <source src="{{url_for('static', filename = 'emergency_vehicles.mp4')}}" type="video/mp4">
        
    </video> 
<input type="text" id="searchBox" placeholder="Search for any health worker">
 <ul id="autocompleteList"></ul> 
<button id="searchButton">Search</button>

<div class="speech-icon">
<button id="speechButton">
</button>
<img src = "{{ url_for('static',filename = 'microphone.png')}}" alt="mic">
</div>


      <!-- <div id="profession-feedback" class="profession-feedback">If you feel like entered profession should be added please fill up the form by clicking on the button below</div> -->


      <button id="button-feedback" class = "button-feedback">
        <a href = "profession-entry-form.html"> Continue</a></button>  
        <button id="complaint">?</button>
        <div class="complaint-box" id="complaint-box">
          <p
            class="complaint-box-item"
            style="color: #71727a; font-size: 12px; cursor: pointer"
          >
            {{ email }}
          </p>
    
          <a
            href="http://localhost/HELIX-MP/templates/report.html"
            class="complaint-box-item"
          >
            <img
              src ="{{ url_for ( 'static', filename='feedback.png') }}"
              class="feedback-png"
            />Feedback</a
          >
        </div>

        
</body>
</html>